.bio--container {
    text-align: center;
    width: 100%;
    height: auto;
    padding: 05%;
    background-color: rgb(27, 31, 33);
    color: white;
    font-family: 'Lato', sans-serif;
}

.bio--header {
    font-family: 'Anton', sans-serif;
    padding: 20px;
    text-transform: uppercase;
	background: linear-gradient(to right, rgb(231, 231, 231) 0%, rgb(255, 255, 255) 25%, rgb(243, 46, 53) 50%, #535353 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-size: 50px;
}

.bio--inner--text--container {
    margin: 05% 10%;
}

.bio--inner--text--h3 {
    color: rgb(107, 107, 107);
    padding: 30px;
}