.carousel--cont {
    margin-left: auto;
    margin-right: auto;
    padding: 10%;
    background-color: rgb(27, 31, 33);
}

.temporary--carousel--section {
    background-image: url(../header.jpeg);
      color: black;
      min-height: 300px;
      height: 100vh;
      max-height: 800px;
      max-width: 2000px;
      width: 100%;
      background-size: cover;
      padding: 20px;
}

.slider--header {
    font-family: 'Anton', sans-serif;
    padding: 20px;
    text-transform: uppercase;
	background: linear-gradient(to right, rgb(231, 231, 231) 0%, rgb(243, 46, 53) 25%, rgb(243, 46, 53) 50%, #fcfcfc 75%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-size: 50px;
}

.slider--text {
    width: 45%;
    font-size: 20px;
    background-color: rgba(0, 0, 0, 0.288);
    padding: 20px;
    border-radius: 05px;
    box-shadow: 10px 10px #f327272a;
    text-align: center;
}

.slider--image {
    height: auto;
    width: 100%;
}


@media screen and (max-width: 900px) {
    .carousel--cont {
        padding: 10px;
    }
    .temporary--carousel--section {
        height: 400px;
        width: 100%;
    }
    .slider--text {
        width: 70%;
        font-size: 10px;
    }
}